# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# Project Specific
data/
vectorstore/
debug_images//
query.txt
.lgd-nfy0
accessible_reader.log
# config.py
.env.local
venv/
__pycache__/